.button-action {
    cursor: pointer;
    background-color: beige;
    white-space: nowrap;
    text-decoration: none;
    color: gray;
    border-radius: var(--button-menu-border-radius);
    margin: var(--button-menu-margin);
    padding: var(--button-menu-padding);
}

.button-action:hover {
    background-color: var(--button-menu-bg-color-hover);
    border-radius: var(--button-menu-border-radius);
}

.only-text {
    border-style: none;
    background-color:rgba(0, 0, 0, 0);
}

.only-text:hover {
    color: antiquewhite;
}