.header-container{
    background-color: black;
    position: sticky;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
}

.menu-container {
    display:flex ;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}

.icon-container {
    display:flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: .5rem;
}