.header {
    background-color: black;
    position: sticky;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo-container {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.header-menu-container {
    display:flex ;
    flex-direction: row;
    gap: 1rem;
}

